apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-logs
          emptyDir: {}
      containers:
        - name: log-writer
          image: log-writer:v1.10
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
        - name: log-reader
          image: log-reader:v1.10
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "3000"
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
