apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: dwkacry73db3cs.azurecr.io/ping-pong:v3.1
          imagePullPolicy: Always
          env:
            - name: PORT
              value: "3000"
            - name: POSTGRES_URL
              value: "postgres://postgres:example@postgres-svc:5432/postgres?sslmode=disable"
